<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <form id="login-form">
                <input type="email" id="email" name="email" placeholder="E-Mail" required>
                <input type="password" id="password" name="password" placeholder="Passwort" required>
                <button type="submit">Login</button>
            </form>
            <button onclick="window.location.href='/register'">Zur Registrierung</button>
            <div id="error-message" class="error-message" style="display: none;">Ungültige Anmeldedaten!</div>
        </div>
        <footer>
            <p>Designed by Julian Franke</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>